body{
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    margin: 0;
    background-image: url(libreria.jpg)
}

a{
    text-decoration: none;
    color: antiquewhite;
}

header{
    display: flex;
    min-height: 70px;
    background-color: rgb(34, 71, 139);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding: 10px;
}

nav a:hover{
    color: black;
}

@media (max-width:700px){
    header{
        flex-direction:  column;
    }

    nav{
        padding: 10px 0px;
    }
}

h1 {
    font-size: 65px;
    color: antiquewhite;
    background: rgb(34, 71, 139);
    width: 700px;
    margin: auto;
    border-radius: 20px;
}

h2 {
color: antiquewhite;
background: rgb(34, 71, 139);
width: 700px;
margin: auto;
border-radius: 10px;

}

p{
    color: antiquewhite;
    background: rgb(34, 71, 139);
    width: 600px;
    border-radius: 15px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: 20px;
    margin: 50px;
}